.mess-order-header {
    color: #5e6054;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
.badge-primary {
    display: inline-block;
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

.badge-warning {
    display: inline-block;
    padding: 4px 8px;
    background-color: #96cd30;
    color: #fff;
    border-radius: 4px;
}
.badge-danger {
    display: inline-block;
    padding: 4px 8px;
    background-color: rgb(205, 87, 48);
    color: #fff;
    border-radius: 4px;
}
